<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Autores</title>
    
    <style>
        table, th, td {
          border: 1px solid black;
        }
    </style>

</head>

<body>
    <h1>Cadastro de Autores</h1>    
    <a href="/">Menu</a>
    <br>
    <br>
    <form th:action="@{/salvarAutor}" method="POST">
        <label>Nome:</label>
        <input type="text" placeholder="Digite o nome" name="nome" required/>
        <label>Idade:</label>
        <input type="text" placeholder="Digite a idade" name="nome" required/>
        <label>Nacionalidade:</label>
        <input type="text" placeholder="Digite a Nacionalidade" name="nome" required/>
        <input type="submit" value="Salvar" />
    </form>
    <br>
    <br>
    <table>
        <tr>
            <th>Código</th>
            <th>Nome</th>
            <th>Idade</th>
            <th>Nacionalidade</th>
        </tr>
       
        <tr th:each="autor : ${autores}">
            <td th:text="${autor.codigo}"></td>
            <td th:text="${autor.nome}"></td>
            <td th:text="${autor.idade}"></td>
            <td th:text="${autor.nacionalidade}"></td>
            <td> <a th:href="@{'/detalhesAutor/' + ${autor.codigo}}">Detalhes</a></td>
        </tr>
    </table>
</body>

</html>