<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Detalhes Editora</title>
    <link href="../static/styles/css/menu.css" th:href="@{/styles/css/menu.css}" rel="stylesheet" />
</head>
<body>
    <h1>Detalhes Editora</h1>
    <div id="menu">
        <a href="/">Menu /</a>
        <a href="/editoras">Editoras</a>
    </div>
    
    <br>
    <br>
    <b>Codigo Editora: </b> <span th:text="${editora.codigo}"></span><br>
    <b>Nome: </b> <span th:text="${editora.nome}"></span><br>
    <b>CNPJ: </b> <span th:text="${editora.cnpj}"></span><br>
    <b>País: </b> <span th:text="${editora.pais}"></span><br>
    <br>
    <br>
    
    Livros Associados:
    <table>
        <tr>
            <th>Codigo</th>
            <th>Nome</th>
            <th>Edição</th>
            <th>Gênero</th>
        </tr>
       
        <tr th:each="livro : ${editora.livros}">
            <td th:text="${livro.codigo}"></td>
            <td th:text="${livro.nome}"></td>
            <td th:text="${livro.edicao}"></td>
            <td th:text="${livro.genero}"></td>
        </tr>
    </table>
    <br>
    <br>

    <form th:action="@{/associarLivroEditora(codigoEditora=${editora.codigo})}" method="POST">
        <label><b>Livros:</b></label>
        <select name="codigo" required>
            <option value="">Escolha o Livros</option>
            <option th:each="livro : ${livros}"
                        th:value="${livro.codigo}"
                        th:text="${livro.nome}">
            </option>
        </select>
        <input type="submit" value="Associar Livro" />
    </form>
</body>
</html>