<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Livros</title>
    
    <link href="../static/styles/css/menu.css" th:href="@{/styles/css/menu.css}" rel="stylesheet" />

</head>

<body>
    <h1>Cadastro de Livros</h1>   
    <div id="menu">
        <a href="/">Menu /</a>
        <a href="/autores">Autores /</a>
        <a href="/editoras">Editoras</a>
    </div> 
    
    <br>
    <br>
    <form th:action="@{/salvarLivro}" th:object="${livro}" method="POST">
        <fieldset>
            <legend>Informações de Cadastro</legend>
            <label>Nome:</label>
            <input type="text" placeholder="Digite o nome" name="nome" required/>
            <label>Edição:</label>
            <input type="text" placeholder="Digite a edição" name="edicao" required/>
            <label>Gênero:</label>
            <input type="text" placeholder="Digite o gênero" name="genero" required/>

            <input type="submit" value="Salvar" />
        </fieldset>
    </form>
    <br>
    <br>
    <table>
        <tr>
            <th>Código</th>
            <th>Nome</th>
            <th>Edição</th>
            <th>Gênero</th>
        </tr>
       
        <tr th:each="livro : ${livros}">
            <td th:text="${livro.codigo}"></td>
            <td th:text="${livro.nome}"></td>
            <td th:text="${livro.edicao}"></td>
            <td th:text="${livro.genero}"></td>
            <!--td> <a th:href="@{'/detalhesLivro/' + ${livro.codigo}}">Detalhes</a></td-->
        </tr>
    </table>
    <br>
    <br>
</body>

</html>