<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<style>
    table,tr,td{
        border: solid 1px;
    }
</style>
<body>
    
    <h1>Product View</h1>
    <table>
        <tr>
            <td>Cod</td>
            <td>Name</td>
            <td>Value</td>
            <td>Stock</td>
        </tr>
        <tr th:each = "prod: ${product}">
            <td th:text = "${prod.cod}"></td>
            <td th:text = "${prod.name}"></td>
            <td th:text = "${prod.value}"></td>
            <td th:text = "${prod.stock}"></td>
        </tr>
    </table>
</body>
</html>